# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain generated content.
/backup/
cache/
files/
sites/*/files
sites/*/private
/css/
/js/
!sites/default/files/import

# Ignore default text files
.htaccess
