<h6>
  After you fill this short registration form, you'll get free access to two sservices.
</h6>

<ul class="services-help-information">
  <li class="data">
    !datalink
    <p>
      The Data service lets you upload your research data, search it, manage it, and share it with others. You get 10 tables free, with a maximum of 10,000 rows each. The tables can be linked together through indexes, making for more powerful searching. The search form adjusts itself based on the content of your data, making this an ideal tool for sharing your data with colleagues.
    </p>
  </li>
  <li>
    !feedlink
    <p>
      The Feed service scours the internet looking for news, blogging, and other content related to your research interests. You provide a few keywords related to your discipline, and Feed uses !semantic_web_link to collect new web content related to your interests. This steady stream of 'mentions' helps keep track of how your discipline is relevant around the world, and outside of esoteric research journals.
    </p>
  </li>
  <li>
    !newslink
    <p>
      Theory on Wheels is always looking for new ways to make researchers lives easier, more fun, and more interactive. We're are !new_ideas_link and would like to !hear_from_you_link.
    </p>
  </li>
</ul>