/* header top menu */ 
 

#header-top-wrapper h2.title {
	visibility: hidden;
}
#header-top-wrapper {
	/*margin-top: -25px;*/
}
#block-menu-primary-links h2
{
	display:none;
}
#header-top-inner {
	  height: 45px;
}
#block-menu-primary-links li.leaf {
/*	list-style: none;
	float: left;
	font-size: 120%;
	font-weight: 550;
	padding-right: 30px;*/
 }
ul.menu li.leaf a {
/*	margin-left: -12px;*/
}
/* style of header menu bottons*/
#block-menu-primary-links a:hover {
	border-top: 3px solid black;
}
#header-site-info {
	margin-bottom: 30px;
}
/* Breadcramp menu style*/
   
   #header-group-inner #breadcrumbs {
	border-bottom: 1px solid #000;
	background-color: #cccccc;
	font-size: 28px;
	min-height: 70px;
}
#header-group-wrapper, #header-group-inner {
	height: 141px;
}
#breadcrumbs {
	margin-bottom: 0px;
}
/* list style*/
  li.leaf, li.collapsed {
	list-style: none;
}
a:active {
	color: #717171;
	font-weight: bold;
}
a:visited {
	color: #717171;
	font-weight: bold;
}
a:link {
	color:#999999;
	font-weight: bold;
}
/* bold style of all menus bottons*/
a:hover {
	text-decoration: none;
	color: black;/*font-weight: bold;*/
}
/*php my admin menu in datasets (overview, browse .etc...*/


#preface-bottom-inner .row, .nested, .block
{
	overflow:visible; 
}
#content-content
{
	overflow:hidden;
}
/* These styles create the dropdown menus. */
#block-tow-pma_menu ul {
	margin: 0;
	padding: 0;
 }
#block-tow-pma_menu ul li {
	list-style: none;
	float: left; }
#block-tow-pma_menu ul li a {
	display: block;
	padding: 3px 8px;
	color: #fff;
	text-decoration: none; }
#block-tow-pma_menu ul li ul {
	display: none; 
	border: 1px solid #CCCCCC;
	margin-top: 24px !important;
	 width: 200px;
    z-index: 5;
	background:#999999;
}
#block-tow-pma_menu ul li ul li
{
	 border-bottom: 1px solid #000000;
    float: left;
    overflow: hidden;
}
#block-tow-pma_menu ul li ul li a
{
	 font-size: 15px !important;
    width: 180px;
}
#block-tow-pma_menu ul li:hover ul, #block-tow-pma_menu ul li.hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0; }
#block-tow-pma_menu ul li:hover li, #block-tow-pma_menu ul li.hover li {
	float: none; }
#block-tow-pma_menu ul li:hover li a, #block-tow-pma_menu ul li.hover li a {
	color: #000; 
	}
#block-tow-pma_menu ul li li a:hover {
	background-color: #CCCCCC;
	color:#000;
}
	  
  
/*#block-tow-pma_menu ul {
	margin:0px;
	padding:0px;
}
#block-tow-pma_menu li.first {
	float: left;
	list-style: none outside none;
	font-size: 17px;
}*/
#preface-top-wrapper {
	height: 30px;
}
#block-tow-pma_menu div.content {
	border-bottom: 4px solid black;
}
#block-tow-search_outer_tabs div.content {
	border-bottom: 4px solid black;
	 font-size: 17px;
	 font-weight:normal;
}
#block-tow-search_outer_tabs div.content b
{
	font-weight:normal;
}

#block-tow-search_outer_tabs .inner
{
	margin-left:0px;
	margin-right:0px;
}
#block-tow-search_outer_tabs ul
{
	margin:0px;
	padding:0px;
}
#block-tow-search_outer_tabs li {
	color: #000000;
	float: left;
	font-size: 17px;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
	list-style:none;
	font-weight:normal;
	line-height: 150%;
}
#block-tow-search_outer_tabs li a {
	color: #000000;
	float: left;
	font-size: 17px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	font-weight:normal;
}
#block-tow-search_outer_tabs li a:hover {
    color: #979797;
}
.logged-in #block-tow-search_outer_tabs li:last-child
{
	float:right;	
}
#block-tow-search_outer_tabs .inner
{
	margin-left:0px;
	margin-right:0px;
}
#block-tow-pma_menu li.first a {
	color: #000000;
	float: left;
	font-size: 17px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	font-weight:normal;
}
#block-tow-pma_menu li a:hover {
    color: #979797;
}
/*tables style of dataset*/
th.views-field {
	border-bottom: 1px solid black;
	background: #cccccc;
	padding-left: 5px;
}
tr.odd td {
	background: white;
}
tr.even td {
	background: white;
}
div.view-content {
	border-bottom: 2px solid black;
}
/* posted by block   */
	
#content-group {
	/*margin-right: 10px;
    width: 710px;*/
}
#pid-newest #content-group {
	margin-right: 10px;
    width: 750px !important;
}
#sidebar-last
{
}
#sidebar-last-inner {
	width: 240px;
}
div.badge {
	/*line-height: 3px;
	width: 125px;*/
}
#block-tow-dataset_badge {
	width: 250px;
}
#block-tow-dataset_badge div.badge {
	/*float:left;
	margin-right: 5px;
	width: 130px;*/
}
div.badge p:first-child {
	line-height: 15px;
	font-size: 109%;
	font-weight: bold;
	margin-top: 0px;
}
 a[href^="/43_tow_local/user"] {
 margin-top: 100px;
}
#block-tow-dataset_badge div.picture {
	margin-left: 150px;
}
/* create table block edit*/
#block-tow-create_table {
	width: 678px;
}
a.tow-inner-search-selected {
	color: white;
	background-color: black;
}
div.tow-inner-search-widget {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}
div.tow-inner-search-highcharts-container {
	height: 168px;
	position: relative;
}
div.tow-inner-search-highcharts-bar-container {
	height: 128px;
	position: relative;
}
div.tow-highcharts-navigator {
	background-color: LightGrey;
	position: absolute;
	z-index: 9;
	opacity: 0.4;
	border-style: solid;
	border-width: 0px;
}
div.tow-highcharts-handle {
	background-color: white;
	position: absolute;
	z-index: 10;
	opacity: 1;
	border-style: solid;
	border-width: 1px;
	cursor: e-resize;
}
#block-tow-pma_menu .inner {
	margin-left: 0px;
	margin-right: 0px;
}
.dataTables_scrollHeadInner
{
	padding-left:0px !important;
	width: 100% !important;
}
.sticky-table
{
	padding-left:0px !important;
	/*width: 100% !important;*/
}
.dataTables_scrollBody 
{
	height:auto !important;
}
#block-menu-primary-links .inner
{
	margin-left:0px;
	margin-right:0px;
}
.breadcrumb a
{
	font-weight:normal;
}
.grid16-3 {
    width: 240px !important;
}
#pid-newest .grid16-3 {
    width: 180px !important;
	float:right;
}
#pid-newest #sidebar-last-inner {
    width: 180px;
}
#pid-newest #content-content h2.title
{
	text-align:left;
	margin-left:20px;
	color:#333333;
	font-size: 25px;
	 text-transform: capitalize;
}
#content-inner .inner
{
	margin-left:0px;
}
.search-results .rows
{
	border-bottom: 1px solid #999999;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
	 margin-top: 15px;
}
#block-tow-search_outer_filter #edit-keywords-wrapper
{
	float: left;
	width: 125px;
}
#block-tow-search_outer_filter #edit-keywords-wrapper #edit-keywords
{
	height:22px;
	 width: 115px;
}
#block-tow-search_outer_filter input.form-submit
{
	  display: inline-block;
	  font-weight:normal;
	  margin:0px;
	  padding:3px 6px;
  *display: inline;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 12px;
  *line-height:12px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

}
#block-tow-search_outer_filter input.form-submit:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
#block-tow-search_outer_filter #edit-keywords-wrapper label
{
	display:none;
}
#block-tow-search_outer_filter .form-item
{
	overflow:hidden;
	 margin-bottom: 7px;
	 text-align: left;
	 line-height: 25px;
	  margin-top: 0;
	   clear: both;
}
#block-tow-search_outer_filter .form-item label
{
	font-weight:normal;
	float:left;
}
#edit-docs-wrapper #edit-docs
{
	 float: right;
    margin-left:50px;
}
#block-tow-search_outer_filter h2
{
	background: none repeat scroll 0 0 #CCCCCC;
	border-bottom:1px solid #000;
    color: #000000;
    padding:3px 5px;
    width: auto;
	cursor:pointer;
	   font-size: 14px;
	   text-align:left;
	   margin-top:0px;
}
#block-tow-search_outer_filter #tow-search-outer-filter-form
{
	margin-bottom:10px;
}
#block-tow-search_outer_number_of_results
{
	 color: #000000;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 15px;
}
#block-tow-search_outer_number_of_results .content span
{
	 clear: both;
    color: #717171;
    display: block;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}
#block-tow-search_outer_number_of_results .content .item-list ul
{
	margin-left:0px;
}
#block-tow-search_outer_number_of_results .content .item-list ul li
{
	list-style:none;
}
#block-tow-search_outer_number_of_results .content .item-list ul li b
{
	background-color: #999999;
    color: #FFFFFF;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
	border-radius: 3px 3px 3px 3px;
    padding: 1px 4px 2px;
}
#block-tow-search_outer_number_of_results .content .item-list ul
{
	   font-size: 13px;
    margin-top: 10px;
}
.ac-title span{
	   border: 1px solid;
    border-radius: 3px 3px 3px 3px;
    float: right;
    line-height: 12px;
    padding: 0 1px;
    position: relative;
    text-align: center;
    top: 3px;
    width: 8px;
}
.search-results .user_img .picture
{
	height: 40px;
    padding-top: 0px;
    width: 35px;
}
.rec_views
{
	font-size:14px;
	color: #333333;
	padding-top:10px;
}
/*user login css*/

.modalframe {
    background-color: #FFFFFF;
    border: 2px solid #1B5084;
    color: #000000;
    height: 530px !important;
    top: 50px !important;
    width: 480px !important;
	border: 0px solid #1B5084 !important;
}
#modalframe-container
{
	  height: 530px !important;
    width: 480px !important;
}
#modalframe-element
{
	  height: 530px !important;
    width: 480px !important;
}
.modalframe .ui-dialog-titlebar 
{
    background-color: #fff;
    border: 0px solid #6694C6;
}
.modalframe .ui-dialog-title
{
	color:#000 !important;
	text-transform: capitalize;
	font-size: 18px;
}
#user-login
{
	 color: #666666;
}
#header-top #block-tow-search_outer_searchinput
{
	float: right;
    width: 250px;
}
#header-top #block-tow-search_outer_searchinput .inner
{
	margin:0px;
}
#header-top #tow-search-outer-searchinput-form
{
	 float: right;
    margin-bottom: 0;
    margin-top: 10px;
    width: 245px;
}

#header-top #tow-search-outer-searchinput-form input.form-submit
{
	  display: inline-block;
	  font-weight:normal;
	  margin:0px;
	  padding:3px 6px;
  *display: inline;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 12px;
  *line-height:12px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

}
#header-top #tow-search-outer-searchinput-form input.form-submit:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
#header-top #tow-search-outer-searchinput-form .form-item
{
	float: left;
    margin: 0;
}
#header-top #tow-search-outer-searchinput-form .form-item .form-text
{
	 height: 22px;
	 width:180px;
}


#header-top #block-menu-primary-links
{
	width: 408px;
}
#block-menu-menu-login-register-username
{
	float:right;
	width: 300px;
}
#block-menu-menu-login-register-username .inner
{
	margin:0px;
}
#block-menu-menu-login-register-username .title
{
	display:none;
}
#block-menu-menu-login-register-username ul
{
	margin:0px;
	padding:0px;
	text-align: right;
}
#block-menu-menu-login-register-username ul li
{
	display: inline;
}
#block-menu-menu-login-register-username ul li a
{
	 color: #676767;
    float: none;
    font-size: 13px;
    font-weight: normal;
    line-height: 40px;
    padding: 9px 10px 11px;
    text-decoration: none;
}
#block-menu-menu-login-register-username ul li a:hover
{
	color: #000000;
	border-top: 3px solid;
}
#sidebar-last #block-views-tags_list-block_1 .view-tags-list .views-row
{
    line-height: 25px;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: left;
}
#sidebar-last #block-views-tags_list-block_1 .view-tags-list .views-field-name
{
	 display: inline-block;
  *display: inline;
  padding: 5px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 12px;
  *line-height:12px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		  float:left;
		  margin-right:5px;
}
#sidebar-last #block-views-tags_list-block_1 .view-tags-list
{
	border-bottom: 4px solid #000;
}
#sidebar-last #block-views-tags_list-block_1 .view-content
{
	border-bottom:0px;
}
#sidebar-last #block-views-tags_list-block_1 .view-tags-list .views-field-name a
{
	text-decoration:none;
	font-weight:normal;
	color: #000;
}
#sidebar-last #block-views-tags_list-block_1 .view-tags-list .views-field-name:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

#sidebar-last #block-views-tags_list-block_1 .view-tags-list .views-field-name:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#tow-search-outer-filter-form .form-item .item-list ul
{
	margin:0px;
	padding:0px;
	clear: both;
}
#tow-search-outer-filter-form .form-item .item-list ul li
{
	list-style:none;
	margin-bottom: 5px;
}
#tow-search-outer-filter-form .form-item .item-list ul li a
{
		 display: inline-block;
  *display: inline;
  padding: 3px 9px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 12px;
  line-height: 18px;
  *line-height:18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		  float:none;
		  margin-right:5px;
		  font-weight:normal;
}
#tow-search-outer-filter-form .form-item .item-list ul li a
{
	text-decoration:none;
	font-weight:normal;
	color: #000;
}
#tow-search-outer-filter-form .form-item .item-list ul li a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
#tow-search-outer-filter-form .form-item .item-list ul li a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}



#block-tow-search_outer_sponsored
{
	border-bottom: 4px solid #000;
}
#block-views-tags_list-block_1 h2.title
{
	font-size: 14px;
    font-weight: normal;
    margin-top: 0;
    text-align: left;
}
#block-tow-search_outer_sponsored .content
{
	text-align:center;
}
#block-tow-search_outer_sponsored h2.title
{
	 background: none repeat scroll 0 0 #CCCCCC;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    padding: 3px 5px;
    text-align: left;
    width: auto;
	margin-top:0px;
	margin-bottom:0px;
	  border-bottom: 1px solid #000000;
}
#sidebar-last #block-tow-search_outer_filter #edit-categories-wrapper .form-select
{
	 width: 105px;
}
#block-tow-search_outer_filter .form-select
{
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
#block-tow-search_outer_filter .form-select
{
     background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border: 1px solid #A2A2A2;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 13px;
    height: 27px;
    margin-bottom: 0;
    padding: 3px 5px 3px 1px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    width: auto;
}
#block-tow-search_outer_filter
{
	margin-bottom:0px;
}
#sidebar-last #sidebar-last-inner .block .inner
{
	margin-left:0px;
	margin-right:0px;
}
.tags_btns
{
	float:left;
}

#block-tow-search_inner_list_of_tables
{
}
#block-tow-search_inner_list_of_tables h2.title
{
	text-align:left;
}
#block-tow-search_inner_field_list
{
}
#block-tow-search_inner_field_list .collapsible legend
{
	padding: 1px;
    width: 100%;
	 background:#666;
}
#block-tow-search_inner_field_list .collapsible legend a
{
	color:#000;
}
#block-tow-search_inner_field_list h2.title
{
	text-align:left;
}
#block-tow-search_inner_simple_search
{
}
#block-tow-search_inner_simple_search h2.title
{
	text-align:left;
}

.starflag .flag-bookmarks .flag-action
{
	background: url("/sites/all/themes/themes/fusion/fusion_theory/img/book_mark.png") no-repeat scroll 0 0 transparent;
    float: left;
    font-size: 0;
    height: 31px;
    overflow: hidden;
    width: 33px;
}
.starflag .flag-bookmarks .unflag-action
{
		background: url("/sites/all/themes/themes/fusion/fusion_theory/img/book_mark.png") no-repeat scroll 0 -40px transparent;
    float: left;
    font-size: 0;
    height: 31px;
    overflow: hidden;
    width: 33px;
}
.tow-saved-search-block-item .user-data
{
	 background: none repeat scroll 0 0 #CCCCCC;
    float: right;
    line-height: 15px;
    margin-right: 50px;
    padding: 10px 12px;
    width: 170px;
}
.tow-saved-search-block-item .user-data .picture
{
	 float: left;
    height: 30px;
    margin-right: 7px;
    padding-top: 0;
    width: 30px;
}
.tow-saved-search-block-item .user-data .user-info
{
	 display: block;
    float: left;
    width: 120px;
}
.tow-saved-search-block-item .user-data .user-info a
{
	padding-right:2px;
}
.tow-saved-search-block-item .user-data .views-amount
{
	display: block;
    float: left;
    width: 120px;
}


.profile .picture {
    float: left;
    margin: 0 1em 1em 0;
    min-height: 200px;
    padding-top: 0;
}
.profile dl {
    float: left;
    margin: 0;
    width: 828px;
}
.profile dt {
    float: left;
    margin: 0;
    padding: 0 5px;
    text-align: left;
    width: 100px;
}
.profile h3 {
    border-bottom: 0 solid #CCCCCC;
    margin: 0;
	display:none;
}
.profile dd {
    margin: 0;
}
.page-user .secondary
{
	margin:0px;
	border-bottom:1px solid #DDDDDD;
}
.page-user .secondary li
{
	padding:0px;
}
.page-user .secondary a
{
	  padding: 8px;
	  margin-right: 2px;
	  padding-left:12px;
	  padding-right:12px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}
.page-user .secondary a:hover {
    background-color: #EEEEEE;
	padding-bottom:7px;
    text-decoration: none;
}
.page-user ul.secondary a.active {
    border-bottom: 0px solid #999999;
}
.page-user .secondary a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.page-user .secondary .active > a,
.page-user .secondary .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.page-user #content-tabs-inner
{
	margin:0px;
}
.page-user .content-tabs
{
   border-right: 0 none;
    float: left;
    margin-bottom: -1px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.page-user ul.secondary li
{
	border-right:0px;
	float:left;
}
.page-user ul.secondary
{
	 float: left;
    line-height: 34px;
    padding-bottom: 6px;
	width: 100%;
}
.page-user .rec_detail 
{
    float: left;
    width: 585px;
}
.page-user .primary
{
	margin-bottom:20px;
}
.page-user #content-group
{
}
.edit-row
{
	 background: url("/sites/all/themes/themes/fusion/fusion_theory/img/edit_data.png") no-repeat scroll 0 0 transparent;
    float: left;
    font-size: 0;
    height: 16px;
    width: 16px;
	margin-right: 5px;
    margin-top: 3px;
}
.delete-row
{
	 background: url("/sites/all/themes/themes/fusion/fusion_theory/img/del_data.png") no-repeat scroll 0 0 transparent;
    float: left;
    font-size: 0;
    height:17px;
    width: 12px;
	margin-top: 3px;
}
.starflag .flag-bookmarks
{
	  float: left;
    position: relative;
}
.starflag b
{
	  display: block;
    color: grey;
    font-weight: bold;
	clear:both;
    padding-left: 13px;
}
.starflag
{
	float: left;
    overflow: hidden;
    width: 150px;
	 padding: 3px;
}
.user-dataset
{
	 background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid;
    clear: both;
    float: left;
    font-size: 16px;
    margin-top: 20px;
    overflow: hidden;
    padding: 5px 20px;
    text-align: center;
    width: 198px;
}
.grid16-13 
{
    width: 710px !important;
	margin-right: 10px;
}
.views-exposed-form .views-exposed-widget .form-submit
{
	margin-top:0px;
}
.views-exposed-form .views-exposed-widget .form-submit {
  display: inline-block;
  *display: inline;
  padding: 2px 8px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height:20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.views-exposed-form .views-exposed-widget .form-submit
{
	text-decoration:none;
	font-weight:normal;
}
.views-exposed-form .views-exposed-widget .form-submit:hover,
.views-exposed-form .views-exposed-widget .form-submit:active,
.views-exposed-form .views-exposed-widget .form-submit.active,
.views-exposed-form .views-exposed-widget .form-submit.disabled,
.views-exposed-form .views-exposed-widget .form-submit[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.views-exposed-form .views-exposed-widget .form-submit:active,
.views-exposed-form .views-exposed-widget .form-submit.active {
  background-color: #cccccc \9;
}

.views-exposed-form .views-exposed-widget .form-submit:first-child {
  *margin-left: 0;
}
.views-exposed-form .views-exposed-widget .form-submit:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.views-exposed-form .views-exposed-widget .form-submit:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.views-exposed-form .views-exposed-widget .form-submit.active,
.views-exposed-form .views-exposed-widget .form-submit:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}



.view-tags .views-field-name a 
{
  display: inline-block;
  *display: inline;
  padding: 2px 8px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height:20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.view-tags .views-field-name a
{
	text-decoration:none;
	font-weight:normal;
	text-align: left;
	font-size: 12px;
}
.view-tags .views-field-name a:hover,
.view-tags .views-field-name a:active,
.view-tags .views-field-name a.active,
.view-tags .views-field-name a.disabled,
.view-tags .views-field-name a[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.view-tags .views-field-name a:active,
.view-tags .views-field-name a.active {
  background-color: #cccccc \9;
}

.view-tags .views-field-name a:first-child {
  *margin-left: 0;
}
.view-tags .views-field-name a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.view-tags .views-field-name a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.view-tags .views-field-name a.active,
.view-tags .views-field-name a:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.view-tags .views-field-name
{
	float:left;
	margin-right:5px;
}
.view-tags .views-field-term-amount span
{
	font-size: 14px;
    font-weight: normal;
	line-height: 25px;
}

.view-tags table td 
{
    border-bottom: 1px dotted #E0E0E0;
    padding-bottom: 12px;
    padding-right: 6px;
    padding-top: 6px;
    vertical-align: top;
    width: 230px;
}
.view-tags .views-field-description
{
	clear:both;
}
.view-tags .views-exposed-form label
{
	margin-right:15px;
	 float: left;
}
.view-tags .views-widget-filter-name
{
	 width: 325px;
	 padding-right: 0;
}
.view-tags .views-submit-button
{
	margin-top:0px;
}
.view-tags .views-exposed-form
{
	margin-top: 20px;
}

/*Tags menu css*/

#block-menu-menu-tags .inner
{
	margin:0px;
}
#block-menu-menu-tags div.content {
	border-bottom: 4px solid black;
	 font-size: 17px;
	 font-weight:normal;
}
#block-menu-menu-tags div.content b
{
	font-weight:normal;
}
#block-menu-menu-tags .inner
{
	margin-left:0px;
	margin-right:0px;
}
#block-menu-menu-tags ul
{
	margin:0px;
	padding:0px;
}
#block-menu-menu-tags li {
	color: #000000;
	float: left;
	font-size: 17px;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
	list-style:none;
	font-weight:normal;
	line-height: 150%;
}
#block-menu-menu-tags li a {
	color: #000000;
	float: left;
	font-size: 17px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	font-weight:normal;
}
#block-menu-menu-tags li a.active
{
	font-weight:bold;
}
#block-menu-menu-tags li a:hover {
    color: #979797;
}


/*User menu css*/

#block-menu-menu-users .inner
{
	margin:0px;
}
#block-menu-menu-users div.content {
	border-bottom: 4px solid black;
	 font-size: 17px;
	 font-weight:normal;
}
#block-menu-menu-users div.content b
{
	font-weight:normal;
}
block-menu-menu-users .inner
{
	margin-left:0px;
	margin-right:0px;
}
#block-menu-menu-users ul
{
	margin:0px;
	padding:0px;
}
#block-menu-menu-users li {
	color: #000000;
	float: left;
	font-size: 17px;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
	list-style:none;
	font-weight:normal;
	line-height: 150%;
}
#block-menu-menu-users li a {
	color: #000000;
	float: left;
	font-size: 17px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	font-weight:normal;
}
#block-menu-menu-users li a:hover {
    color: #979797;
}
#block-menu-menu-users li a.active
{
	font-weight:bold;
}
.view-Users select, input[type="file"] {
    border-radius: 3px 0 0 3px;
    height: 22px;
    line-height: 22px;
    padding-right: 0;
}
.view-Users .views-exposed-form .views-exposed-widget {
    float: left;
    padding: 0 5px 0 0;
}
.view-Users .views-exposed-widget .form-submit
{
	margin-top: 24px;
}

.view-Users table tr td 
{
    overflow: hidden;
}
.view-Users table tr td 
{
    clear: both;
    height: 85px;
    margin: 8px 5px;
    width: 230px;
}
.view-Users .picture
{
	float:left;
		width:48px;
	height:48px;
	margin-right:5px;
	padding-top:0px;
}
.view-Users .picture img
{
	float:left;
	 border-collapse: separate;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*finish usrs menu*/

.tow-saved-search-block-item .comments .comment
{
	border-top: 1px solid #CCCCCC;
    margin: 0;
    padding: 0;
}
#block-tow-table_display_switch
{
	width: 200px;
	float:right;
}
#block-tow-table_display_switch ul
{
	margin:0px;
}
#block-tow-table_display_switch ul li
{
	list-style:none;
	float: left;
}
#block-tow-table_display_switch ul li a
{
	  padding: 10px;
}
#block-tow-table_display_switch ul li a
{
  display: inline-block;
  *display: inline;
  padding: 2px 8px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height:20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
/*  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;*/
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#block-tow-table_display_switch ul li.first a
{
	  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
#block-tow-table_display_switch ul li.last a
{
	  -webkit-border-radius: 0px 4px 4px 0px;
     -moz-border-radius: 0px 4px 4px 0px;
          border-radius: 0px 4px 4px 0px;
}
#block-tow-table_display_switch ul li a
{
	text-decoration:none;
	font-weight:normal;
	text-align: left;
	font-size: 12px;
}
#block-tow-table_display_switch ul li a:hover,
#block-tow-table_display_switch ul li a:active,
#block-tow-table_display_switch ul li a.active,
#block-tow-table_display_switch ul li a.disabled,
#block-tow-table_display_switch ul li a[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

#block-tow-table_display_switch ul li a:active,
#block-tow-table_display_switch ul li a.active {
  background-color: #cccccc \9;
}

#block-tow-table_display_switch ul li a:first-child {
  *margin-left: 0;
}
#block-tow-table_display_switch ul li a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

#block-tow-table_display_switch ul li a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#block-tow-table_display_switch ul li a.active,
#block-tow-table_display_switch ul li a:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#content-inner #node-form table th
{
	 border-bottom: 0px solid #CCCCCC;
}
form input.form-submit
{
  display: inline-block;
  *display: inline;
  padding: 2px 8px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height:20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

form input.form-submit
{
	text-decoration:none;
	font-weight:normal;
	text-align: left;
	font-size: 12px;
}
form input.form-submit:hover,
form input.form-submit:active,
form input.form-submit.active,
form input.form-submit.disabled,
form input.form-submit[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

form input.form-submit:active,
form input.form-submit.active {
  background-color: #cccccc \9;
}

form input.form-submit:first-child {
  *margin-left: 0;
}
form input.form-submit:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

form input.form-submit:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

form input.form-submit.active,
form input.form-submit:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}



button
{
  display: inline-block;
  *display: inline;
  padding: 2px 8px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height:20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

button
{
	text-decoration:none;
	font-weight:normal;
	text-align: left;
	font-size: 12px;
}
button:hover,
button:active,
button.active,
button.disabled,
button[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

button:active,
button.active {
  background-color: #cccccc \9;
}

button:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

button.active,
button:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/*save searches page css*/

#block-tow-saved_searches_list
{
}
#block-tow-saved_searches_list .inner
{
	margin-left:0px;
}
#block-tow-saved_searches_list .inner div.node
{
	margin-bottom:0px;
	border-top: 1px solid #CCCCCC;
}
#block-tow-saved_searches_list #comments
{
	margin-left: 50px;
    width: 630px;
}
#block-tow-saved_searches_list div.comment h3.title {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}


/*end save searches page css*/

/*all site block css*/
.clearfix
{
	display:block !important;
}
/*end all site block css*/



.btn_cate a
{
    font-size: 12px;
    line-height: 18px;
    padding: 3px 9px;
}
.btn_cate a
{
  display: inline-block;
  *display: inline;
  padding: 2px 8px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height:20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn_cate a
{
	text-decoration:none;
	font-weight:normal;
	text-align: left;
	font-size: 12px;
}
.btn_cate a:hover,
.btn_cate a:active,
.btn_cate a.active,
.btn_cate a.disabled,
.btn_cate a[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn_cate a:active,
.btn_cate a.active {
  background-color: #cccccc \9;
}

.btn_cate a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
.btn_cate a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn_cate a.active,
.btn_cate a:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn_cate a {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn_cate a
{
	 color: #ffffff;
}

.btn_cate a:hover,
.btn_cate a:active,
.btn_cate a.active,
.btn_cate a.disabled,
.btn_cate a[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}

.btn_cate a:active,
.btn_cate a.active {
  background-color: #080808 \9;
}
.btn_cate
{
	margin-top: 6px;
	    margin-right: 4px;
		float:left;
}
dt.profile-profile_bio
{
	display:none;
}
.profile-profile_bio
{
    background:#f2f2f2;
    float: right;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 15px;
    width: 400px;
}
#block-tow-user_view .inner
{
	 margin:0px;
}
.tow-saved-search-block-item
{
	clear:both;
}
.tow-saved-search-block-item #comments textarea
{
	height:40px;
}
.tow-saved-search-block-item #comments .comcom h2
{
	display:none;
}
.tow-saved-search-block-item #comments .comcom
{
	padding:0px;
}
.tow-saved-search-block-item #comments h2.comments-header
{
	text-align:left;
}
.tow-saved-search-block-item #comments textarea
{
	width:600px;
}

/*login pop up box*/

.login-signup-tab .user-login
{
	 border: 1px solid #ccc;
	 border-bottom:0px;
}

.modalframe-page-content .log-tab
{
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 0 0;
    float: left;
    line-height: 20px;
    margin-left: 30px;
    margin-right: 2px;
    overflow: hidden;
    padding: 8px 40px;
    position: relative;
    top: 1px;
	cursor:pointer;
}

.modalframe-page-content .log-tab:hover 
{

}
.modalframe-page-content .sign-tab:hover 
{

}

.modalframe-page-content .sign-tab
{
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 0 0;
    float: left;
    line-height: 20px;
    margin-right: 2px;
    overflow: hidden;
    padding: 8px 40px;
    position: relative;
    top: 1px;
	cursor:pointer;
}

#user-register
{
	 border-top: 1px solid #CCCCCC;
    clear: both;
	 padding:20px 30px;
}
#user-register #uLogin-1
{
	 margin-top: -40px;
    position: absolute;
    top: 0;
}
#user-login #uLogin-2
{
	 margin-top: -40px;
    position: absolute;
    top: 0;
}
.modalframe-page-content
{
	padding:0px;
	  position: relative;
    top: 50px;
}
#user-login
{
	 border-top: 1px solid #CCCCCC;
    clear: both;
	 padding:20px 30px;
}


/*Search page table css*/
.dataTables_scroll table thead td span
{
    width:100px;
    padding:2px;
    border: 0px solid red;
	 overflow: hidden;
	text-overflow: ellipsis;
	display:block;
	white-space: nowrap;
}

.dataTables_scroll table tbody tr td span
{
    width:100px;
    padding:2px;
    border: 0px solid red;
	 overflow: hidden;
	text-overflow: ellipsis;
	display:block;
	white-space: nowrap;
}

.dataTables_scroll table thead td span:hover {
    background: none repeat scroll 0 0 #EEEEEE;
    display: block;
    overflow: visible;
    white-space: normal;
	cursor:pointer;
}
.dataTables_scroll table tbody tr td span:hover 
{
    background: none repeat scroll 0 0 #EEEEEE;
    display: block;
    overflow: visible;
    white-space: normal;
	cursor:pointer;
}
