/* --------- Making the edit/add-document css --------- */

.wmd-panel {
    margin-left: 0;
}

/* Modifying the textarea to fit the Edit-buttons width on edit-node pages */
#edit-body {
    max-width: 95%;
    min-width: 95%;
}

.node-form textarea {    
    padding: 6px;    
}

/* Removing the border radius from the edit-body */

textarea#edit-body {    
    border-radius: 0;    
}

/* Theming the preview */

#wmd-preview {    
    padding: 6px;
    border: #CCCCCC 1px solid;
    background-color: white;
    min-width: 95%;
}

/*--------------- Submit Buttons styling ---------------*/
.node-form #edit-submit {
    margin-right: 4%;
}

.node-form .form-submit {
    min-width: 72px;
    min-height: 36px;   
    font-size: 14px;
    text-align: center;
    float: right;
}
/*--------------- End of Submit buttons styling ---------------*/

/* Change the Preview label styling */
.preview-doc-label {
    font-size: 18px;
    color: #666666;
    margin-left: 6px;
}

/* Decorating the text at the "Preview" form */
#wmd-preview {
    color: #333333;
}

#wmd-preview p{
    font-size: 14px;
}

#wmd-preview h2{
    font-size: 18px;
    text-decoration:underline;
    line-height: 22px;
}

/* -------------------------- Noty theming ---------------------------- */

#noty_top_layout_container {   
   height: 30px !important;
}

.noty_container_class{
    background: none !important;
    border: none !important;
    border-radius: 0 !important;   
    background-color: #666666 !important;
}

.noty_bar .noty_text {
    color: white;
    font-weight: bold;
}

.noty_bar .noty_text a {
    text-decoration: underline;
    color: #C5C5C5;
}

.noty_bar .noty_text a:hover {    
    color: #222222;
}

.noty_close {
    width: 15px !important;
    height: 16px !important;
    background-repeat: no-repeat !important;
    margin-top: 4px;    
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAA60lEQVR42pzSvytFYRzH8de5nSST0i2DySiTzYRFNv8EA7vJYFB3MSilbGaDMrKYTJyiLEbJGchg8LPkWL7qpod7jk899Tzfvu8+3x9PVhRFiTd8aKZ2jhdMo2wIX7Xi0q+5slYiOIoOxrpis1j+mZiCn6ONHQxgEJup3DwB34XLEZYwgjNs14HhAivYwjWmUNUp+1sneEcWq1QX7sMGzjGEtVTSb2UvRKkzGMcuDnDay3kypruOS+zF8PZjjX86l5jHcbw/sYgJPPaCb+J06x6HqYFVeP3H96xytDGH24bwcI4HrEZvTfT0NQCv2jACOfHc9AAAAABJRU5ErkJggg==") !important;
}

/* ---------------------- The End of Noty theming ---------------------- */