.comment .vud-widget-upanddown .down-score {
    display: none;
}


/* js hide() css() class substitutes*/
.hidden {
    display: none;
}

.h20 {
    height: 20px;
}

.h40 {
    height: 40px;
}

.h200 {
    height: 200px;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.bs-solid {
    border-style: solid;
}

.bc-grey {
    border-color: grey;
}

.bw1 {
    border-width: 1px;
}

.pe-none {
    pointer-events: none;
}

.pe-vis {
    pointer-events: visible;
}

.bgp-center {
    background-position: center center;
}

.bgc-white {
    background-color: white;
}

.bgr-no {
    background-repeat: no-repeat;
}

.bgi-w {
    background-image: url(../img/waiting.gif);
}

.z9 {
    z-index: 9;
}

.z10 {
    z-index: 10;
}

.z20 {
    z-index: 20;
}

.cur-e {
    cursor: e-resize;
}

.t0h128w100 {
    top: 0;
    height: 128px;
    width: 100%;
}

.t128h40w100 {
    top: 128px;
    height: 40px;
    width: 100%;
}

.ta-center {
    text-align: center;
}

.va-middle {
    vertical-align: middle;
}

.fs10 {
    font-size: 10px;
}


/*Box with comment form*/
.comcom {
    height: auto !important;
    background-color: transparent !important;
    border: none !important;
}

/* Dataset fields styling */
.tow-dataset-field-link.unavailable {
    background: white;
    /* color: grey; */
    color: #F2F2F2;
    border-color: #F2F2F2;
}
.tow-dataset-field-link.available {
    background: white;
    color: black;
}
.tow-dataset-field-link.selected {
    background: black;
    color: white;
}
.tow-dataset-field-link.unavailable-hover {
    background: white;
    /* color: grey; */
    color: #F2F2F2;
    border-color: #F2F2F2;
}
.tow-dataset-field-link.available-hover {
    background: white;
    color: black;
}
.tow-dataset-field-link.selected-hover {
    background: black;
    color: white;
}
.tow-dataset-field-link.hover.index {
    border-left-width: 2px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-color: black;
}