.tow-dataset-field-link {
  background: white;
}

.tow-dataset-field-link.selected {
  background: black;
  color: white;
}

.tow-dataset-field-link.unavailable {
  color: lightgrey;
}

.comment .vud-widget-upanddown .down-score {
  display: none;
}

.hidden {
  display: none;
}

.pos-rel {
  position: relative;
}

.comcom {
  height: auto !important;
  background-color: transparent !important;
  border: none !important;
}